DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5435
DB_NAME=ecommerce

# AWS region where our SQS resources will be created
AWS_REGION=ap-south-1

# SQS queue URL will be added after the queue is created
SQS_QUEUE_URL=